@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
  box-sizing: border-box;
}
body {
  background-color: black;
  background-image: url(assets/global-network-technology-icon-gold-gradient-background_53876-119522.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(244, 205, 91);
  font-family: 'Comfortaa', sans-serif;
}

h1 {
  display: flex;
  font-size: 70px;
  justify-content: center;
}
.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 2 / 2 / 3; }
  .div2 { grid-area: 1 / 4 / 2 / 5; }
  .div3 { grid-area: 1 / 6 / 2 / 7; }
  .div4 { grid-area: 1 / 8 / 2 / 9; }
  .div6 { grid-area: 2 / 5 / 3 / 6; }
  
.js-placeholder {
  padding: 5px 10px;
  font-size: 18px;
  margin-top: 15px;
  border-radius: 4px;
}
.js-label {
  font-size: 18px;
  margin-bottom: 10px;
}
.js-country-button {
  background-color: rgb(244, 205, 91);
  margin-top: 20px;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
  padding: 10px 5px;
  cursor: pointer;

}
.results-table {
  margin: 0 auto; 
  background-color: white; 
  width: 100%;
  max-width: 700px;
  border: 3px solid black;
  border-radius: 10px;
  color: #5a2a08;
}
.results-table th, .results-table td {
  padding: 8px; 
  border: 1px solid #0f0e0e; 
  text-align: left; 
}
.results-table th {
  background-color: #f2f2f2;
}
#load-more-btn {
  display: flex;
  justify-content: center;
  background-color: rgb(244, 205, 91);
  margin-top: 20px;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
  padding: 10px 5px;
  cursor: pointer;
}